.banner-wide {
    position: relative;
    display: block;
    left: 0;
    margin: 0px auto;
    padding: 15px 25px;
    width: 100%;
}    
.bio {
	font-family: "Open Sans", "Cabin", sans-serif;
	font-size: 0.85em;    
}
.col-centered-justify-center {	
    display:inline-block;
    float:none;
    text-align: justify;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-centered-justify-left {	
    display:inline-block;
    float:none;
    text-align: justify;
    /* inline-block space fix */
    margin-right:-4px;
}
.collage {
    width: 95%;
    height: auto;
    margin: 0 auto;
}
.collage-big {
    border: 1px solid #fff;
    height: 450px;
    padding-left: 2px;
    padding-right: 2px;
}
.collage-small {    
    border: 1px solid #fff;
    height: 250px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
}
.col-md-3.clear{
    clear: left;
}
.constitution-blocks div {
    margin: 15px 0px;
}
.eboard div{
    display: inline-block;
    margin-top: 15px;
    float: left;
}
.profile {
    height: 300px;
    width: 300px;
}
.profile {
    border-radius: 25px;
}
.vertical-align-parent {
    height: 250px;
}
.vertical-align-right {        
      position: relative;
      top: 50%;
      left: -25%;
      transform: translateY(-40%);
      -webkit-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        z-index: 1;
}
.vertical-align-left {        
      position: relative;
      top: 50%;
      left: 25%;
      transform: translateY(-40%);
      -webkit-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        z-index: 1;
}
h4, .h4 {
    font-family: "Open Sans", serif;
    font-size: 1.2em;
}
.map-embed {
    width: 97%;
}
.map-embed iframe {
    width: 97%;
    height: 480px;
    display: block;
    margin: 0 auto;
}
.panel-ihouse,
.panel-ihouse-advisers,
.panel-ihouse-sih,
.panel-ihouse-successors,
.panel-ihouse-affiliates {
      background-color: #4b92db;
      color: #fff; /*#f8f7ed*/
      border-radius: 15px;
}
.panel-inside {    
    /* background-color: #4b92db; */
    background-color: #fff;
}
.panel-inside-caption {
    font-size: 14px;
}
.text-block {
    width: 95%;
}
@media (max-width: 991px) {
    .bio {
        font-size: 0.85em;
    }
    .col-md-3.clear{
        clear: none;
    }    
    .text-block {
        width: 90%;
    }
    .collage {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .vertical-align-parent {
        height: 100%;
    }
    .vertical-align-right {        
      position: relative;
      top: 0%;
      left: 0%;
      transform: translateY(-40%);
      -webkit-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
      width: 65%;
      margin: 0 auto;
    }
    .vertical-align-left {        
      position: relative;
      top: 0%;
      left: 0%;
      transform: translateY(-40%);
      -webkit-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
      width: 65%;
      margin: 0 auto;
    }
}
@media (max-width: 720px) {
    .bio {
        font-size: 0.8em;
    }
    h1, .h1 {
        font-size: 1.3em;
    }
    h2, .h2 {
        font-size: 1.2em;
    }
    h3, .h3{
        font-size: 1.1em;
    }
    h4, .h4 {
        font-family: "Open Sans", serif;
        font-size: 1em;
    }
    .text-block {
        width: 85%;
    }
    .banner-wide {
        position: relative;
        display: block;
        left: 0;
        margin: 0px auto;
        padding: 0px 0px;
        width: 100%;
        margin-left: 2px;
    } 
    .collage {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-left: 2px;
    }
    .collage-big, .collage-small {
        border: 0;
    }
    .map-embed {
        width: 100%;
    }
    .map-embed iframe {
        width: 100%;
        height: 350px;
        display: block;
        margin: 0 auto;
    }
    .col-centered-justify-center {	
        display:inline-block;
        float:none;
        text-align: justify;
        /* inline-block space fix */
        margin-right:-4px;
    }
    .vertical-align-parent {
        height: 100%;
    }
    .vertical-align-left {        
      position: relative;
      top: 0%;
      transform: translateY(-30%);
      -webkit-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
      width: 85%;
      margin: 0 auto;
    }
    .vertical-align-right {        
      position: relative;
      top: 0%;
      transform: translateY(-30%);
      -webkit-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
      width: 85%;
      margin: 0 auto;
    }
}
@media (max-width: 480px){
    .bio {
        font-size: 0.75em;
    }
    h1, .h1 {
        font-size: 1.1em;
    }
    h2, .h2 {
        font-size: 1em;
    }
    h3, .h3 {
        font-size: 0.9em;
    }
    h4, .h4 {
        font-size: 0.8em;   
    }
    .col-centered-justify-left {	
        display:inline-block;
        float:none;
        text-align: left;
        /* inline-block space fix */
        margin-right:-4px;
    }
    .col-centered-justify-center {	
        display:inline-block;
        float:none;
        text-align: center;
        /* inline-block space fix */
        margin-right:-4px;
    }
    .text-block {
        width: 80%;
    }
    .text-block p{        
        font-size: 0.7em;
    }
    .collage {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }.map-embed {
        width: 100%;    
    }
    .map-embed iframe {
        width: 100%;
        height: 250px;
        display: block;
        margin: 0 auto;
    }
    .profile {
        height: 275px;
        width: 275px;
    }
    .vertical-align-parent {
        height: 100%;
    }
    .vertical-align-right {        
      position: relative;
      top: 0%;
      transform: translateY(-20%);
      -webkit-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
      width: 70%;
      margin: 0 auto;
    }
    .vertical-align-left {        
      position: relative;
      top: 0%;
      transform: translateY(-20%);
      -webkit-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
        box-shadow: inset 0px -200px 300px 168px rgba(0,0,0,0.75);
      width: 70%;
      margin: 0 auto;
    }
}
@media (max-width: 320px) {    
    .profile {
        height: 175px;
        width: 175px;
    }
}