@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
/*
	MIT LICENSE
	Copyright [2016] [Ian Effendi and Jason Carr]

	This document is a customized stylesheet for the International House webpage.
*/

/* ==========================================================================
Global
========================================================================== */
.affix {
    position: absolute;
    
    min-width: 90%;
}
.cover-title {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    color: #ffffff;
    
    margin-top: 0px;
    margin-bottom: 40px;
}
/* ==========================================================================
Hero
========================================================================== */

.hero {
			background: url('../img/cover_label_HQ.png') no-repeat center center;

			background-size: cover;
				-webkit-background-size: cover;
            	-moz-background-size: cover;
	 			-o-background-size: cover;

            min-height: 620px;
                
		 	height: auto;
            width: 100%;
}

.hero-overlay { color:#212121; }

/* ==========================================================================
Cover
========================================================================== */
.cover {    
    height: auto;
    width: auto;
    
    padding: 50px 0px 150px 0px;
    
    background-color: #4b92db;
}
.color-caption {
    color: #ffffff;
}
.cover-icon {
    color: #ffffff;
    
    height: 48px;
    width: 48px;
    
    padding: 0;
    
    border-radius: 50%;
    border: 1px solid #ffffff;
}
.cover-icon i {
    margin-top: 4px;
        
       text-shadow: 0 0 5px rgba(0,0,0,0.5);
   
    font-size: 36px;
}
.cover-icon i:hover, .cover-icon:hover {    
    color: #c7c3db;
        
       text-shadow: none;
    
    border-color: #c7c3db;
    
}
.cover-img {
    margin-bottom: 50px;
}
@media (max-width: 1550px) {
    .cover-img {
        margin-bottom: 0px;
    }
}

@media (max-width: 1200px) {    
}

@media (max-width: 850px) {    
}

@media (max-width: 692px) {  
}

@media (max-width: 512px) {
    .hero {
			background: url('../img/cover_small_HQ.png') no-repeat center center;

			background-size: cover;
				-webkit-background-size: cover;
            	-moz-background-size: cover;
	 			-o-background-size: cover;

            min-height: 420px;
                
		 	height: auto;
            width: 100%;
    }
    
    .cover-icon {
        display: none;
    }
    
    .cover {    
        height: auto;
        width: auto;
        
        padding: 10px 0px;
        
        background-color: #4b92db;
    }
}

@media (max-width: 422px) {
    .logo-text {
        margin-top: -48px;
    }
}

@media (max-width: 387px) {
}

@media (max-width: 352px) {
}

@media (max-width: 302px){
}
