@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
/*
	MIT LICENSE
	Copyright [2016] [Ian Effendi and Jason Carr]

	This document is a customized stylesheet for the International House webpage.
*/

/* ==========================================================================
Global
========================================================================== */
.small-text{
    font-size: 0.7em;
    color: white;
}
.cover {
    margin-left: auto;
    margin-right: auto;
}
.cover-outer {
    padding-top: 50px;
    padding-bottom: 100px;
    
    padding-left: 0;
    padding-right: 0;
    
    background: #4b92db;
}
.cover-title {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    color: #ffffff;
    
    margin-top: 0px;
    margin-bottom: 40px;
}
.ihouse-gradient {
    width: 100%;
    
    padding-left: 0;
    padding-right: 0;
        
    min-height: 100px;
    background: #4b92db; /* For browsers that do not support gradients */
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b92db+0,f2efea+43,f2efea+43,f2efea+85&1+0,0.5+26 */
    background: -moz-linear-gradient(top,  rgba(75,146,219,1) 0%, rgba(176,202,228,0.5) 26%, rgba(242,239,234,0.5) 43%, rgba(242,239,234,0.5) 85%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(75,146,219,1) 0%,rgba(176,202,228,0.5) 26%,rgba(242,239,234,0.5) 43%,rgba(242,239,234,0.5) 85%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(75,146,219,1) 0%,rgba(176,202,228,0.5) 26%,rgba(242,239,234,0.5) 43%,rgba(242,239,234,0.5) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b92db', endColorstr='#80f2efea',GradientType=0 ); /* IE6-9 */

}
.banner {
    background: #4b92db;
    color: #fff;
    padding: 10% 0px;
}
.banner-box{
    width: 100%;
}
.banner-img {
    height: 250px;
    display: block;
    margin: 0px auto;
}
/* ==========================================================================
Hero  --- IMPORTANT: HERO IS BEING REMOVED FROM FUNCTIONALITY!
========================================================================== */

.hero {
			background: url('../img/cover_label_HQ.png') no-repeat center center;

			background-size: cover;
				-webkit-background-size: cover;
            	-moz-background-size: cover;
	 			-o-background-size: cover;

            min-height: 620px;
                        
		 	height: auto;
            width: 100%;
}

.hero-overlay { color:#212121; }

/* ==========================================================================
Cover
========================================================================== */
.cover {    
    height: auto;
    width: auto;
        
    padding: 10px 0px 50px 0px;
    
    background-color: #4b92db;
}
.color-caption {
    color: #ffffff;
}
.cover-icon {
    color: #ffffff;
    
    height: 48px;
    width: 48px;
    
    padding: 0;
    
    border-radius: 50%;
    border: 1px solid #ffffff;
}
.cover-icon i {
    margin-top: 4px;
        
       text-shadow: 0 0 5px rgba(0,0,0,0.5);
   
    font-size: 36px;
}
.cover-icon i:hover, .cover-icon:hover {    
    color: #c7c3db;
        
       text-shadow: none;
    
    border-color: #c7c3db;    
}
.cover-img {
    padding-top: 350px;
    margin-bottom: 25px;
}
@media (max-width: 1550px) {
}

@media (max-width: 1200px) {    
}

@media (max-width: 850px) {    
    .banner{
        padding: 12% 0px 7% 0px;
    }
    .banner-img {
        height: 100px;
        display: block;
        margin: 0px auto;
    }
}

@media (max-width: 692px) { 
    .banner{
        padding: 100px 0px 7% 0px;
    }
    .cover-outer {
        padding-top: 50px;
        padding-bottom: 100px;
        
        padding-left: 0;
        padding-right: 0;
        
        background: #4b92db;
    }   
}

@media (max-width: 600px) {
    .hero {
			background: url('../img/cover_small_HQ.png') no-repeat center center;

			background-size: cover;
				-webkit-background-size: cover;
            	-moz-background-size: cover;
	 			-o-background-size: cover;

            min-height: 420px;
                
		 	height: auto;
            width: 100%;
    }
    
    .cover-space,
    .cover-icon {
        display: none;
    }
    
    .cover {    
        height: auto;
        width: auto;
        
        padding: 10px 0px;
        
        background-color: #4b92db;
    }
    
    .cover-img {
        padding-top: 50px;
    }

}

@media (max-width: 422px) {
    .logo-text {
        margin-top: -47px;
    }
}

@media (max-width: 387px) {
}

@media (max-width: 352px) {
}

@media (max-width: 302px){

}
