
/* ==========================================================================
Global
========================================================================== */

p, div {
	font-family: "Cabin", sans-serif;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Merriweather", serif;
}
body {
	background-color: #f2efea;
}
.website{
	width: 100%;
}




/* ==========================================================================
Hero
========================================================================== */

.hero { background: url('../img/ihouse.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 65px 0 300px 0; height: auto; }

.hero-overlay { color:#ffffff; }

/* ==========================================================================
Footer
========================================================================== */

footer {
	height:auto;
	background-color: #030910;
	color: #ffffff;
}

.social-footer {
	padding-top: 30px;
	padding-bottom: 20px;
}

.social-footer a { 
	width: 40px; 
	height: 40px;
	margin: 5px 5px 5px 5px;
	border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; 
	background: #242830; 
	display: inline-block; 
	color: #fff; 
	font-size: 17px; 
	line-height: 40px; 
	text-align: center; 
}
.social-btn:hover, .social-btn:focus { background: #4b92db; color: #fff; }
.social { margin-top: 25px }

.nav-footer a {
	color: #fff;
}


/* ==========================================================================
Navbar
========================================================================== */

.navbar-ihouse {
  background-color: #4b92db;
  border-color: #3476b4;
}

.navbar-ihouse .navbar-brand {
  color: #ffffff;

}

.navbar-i .navbar-brand:hover,
.navbar-ihouse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-ihouse .navbar-text {
  color: #ffffff;
}
.navbar-ihouse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-ihouse .navbar-nav > li > a:hover,
.navbar-ihouse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #3476b4;
}
.navbar-ihouse .navbar-nav > .active > a,
.navbar-ihouse .navbar-nav > .active > a:hover,
.navbar-ihouse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #3476b4;
}
.navbar-ihouse .navbar-nav > .disabled > a,
.navbar-ihouse .navbar-nav > .disabled > a:hover,
.navbar-ihouse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-ihouse .navbar-toggle {
  border-color: transparent;
}
.navbar-ihouse .navbar-toggle:hover,
.navbar-ihouse .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-ihouse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-ihouse .navbar-collapse,
.navbar-ihouse .navbar-form {
  border-color: #007196;
}
.navbar-ihouse .navbar-nav > .open > a,
.navbar-ihouse .navbar-nav > .open > a:hover,
.navbar-ihouse .navbar-nav > .open > a:focus {
  background-color: #3476b4;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-ihouse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #3476b4;
  }
  .navbar-ihouse .navbar-nav .open .dropdown-menu .divider {
    background-color: #3476b4;
  }
  .navbar-ihouse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-ihouse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-ihouse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #3476b4;
  }
  .navbar-ihouse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-ihouse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-ihouse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #3476b4;
  }
  .navbar-ihouse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-ihouse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-ihouse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-ihouse .navbar-link {
  color: #ffffff;
}
.navbar-ihouse .navbar-link:hover {
  color: #ffffff;
}
.navbar-ihouse .btn-link {
  color: #ffffff;
}
.navbar-ihouse .btn-link:hover,
.navbar-ihouse .btn-link:focus {
  color: #ffffff;
}
.navbar-ihouse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-ihouse .btn-link:hover,
.navbar-ihouse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-ihouse .btn-link:focus {
  color: #444444;
}

.logo {
	float: left;
}

.logo-text {
	display: inline-block;
	clear: left;
	font-family: "Merriweather", serif;
	font-style: bold;
}

@media (max-width: 767px) {
	.logo-text {
		display:none;
	}

	.navbar-mobile-header {
		height: 50px;
		margin-top: 5px;
		margin-bottom: 15px;
	}

	#navbar-mobile-collapse {
	}

	#brand {
		  position: relative;
		  float: left;
		  margin-left: 15px;

			padding-left: 10px;
			padding-right: 10px;
			padding-top: 9px;
			padding-bottom: 9px;

		  margin-top: 5.5px;
		  margin-bottom: 5.5px;
		  background-color: transparent;
		  background-image: none;
		  border: 1px solid transparent;
		  border-radius: 0;
	}

	#brand:focus {
		  outline: 0;
	}

	#brand #brand-img {
		  display: block;
		  width: 35px;
		  height: 35px;
		  border-radius: 1px;
	}

	#brand-img {
			margin-top: -5.5px;
	}
}
